$primary-color-brand: #4ECDB2;
$secondary-color-brand: #6E85DE;


@font-face{
  font-family: "Lobster";
  src: url('../font/Lobster.otf');
}

.navbar{
	background-color: $primary-color-brand
}

.navbar-default .navbar-nav>li>a{
	color: #555
}

.navbar-brand > a{
	text-decoration: none
}

#brand{
	color: #fff;
	font-family: Lobster;
	font-size: 2em;
}

.container{
	padding: 2em
}

.btn-secondary{
	border-color: $secondary-color-brand
}

.brand-button{
	background-color: $primary-color-brand;
	color: #fff;
	margin: 1em 0em;
}

.brand-button > p.lead{
	margin-bottom: 0em
}

.form-control{
	margin-bottom: 1em
}