doctype html
html
  head
    title Treasury
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/custom.css')
    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')

  body
    .container
      block content

