extends layout

block content 
	if (user && !(user.isConnected))
		p You are currently logged in as #{user.name}. Authorize with Venmo account  <a href='/auth'>here</a>
	else if (!user)
		p You are currently not logged in. Please login or register... 

	if(user.isConnected)
		#root
			.row
				.col.s12
					h3 Upload group below...

					form.dropzone#my-dropzone(action="/file-upload", enctype="multipart/form-data")
					br
					.button-container
						button.btn.btn-default#upload-all Upload	


		.modal#charge-review-modal
			.modal-content
				h4 Review Charge Below...
				.modal-body
					ul.collection.charge-preview-list
					a.btn-flat.modal-action.modal-close#cancel-buttons(href='#') Cancel  	
					button.btn#submitChargeButton(type='submit') Submit Charge
						i.material-icons.right send

		.modal#charge-review-modal-success
			.modal-content
				h4 Success! Review charge below...
				.modal-body
						button.btn.modal-action.modal-close#submitChargeButton() Exit 				
				

		#usergroup-container
		#charge-container								
		#pageNav
		#main-container

	else


script(id="initial-usergroupList" type="application/json").usergroupList