extends layout

block content 
	if (user && !(user.isConnected))
		p You are currently logged in as #{user.name}. Authorize with Venmo account  <a href='/auth'>here</a>
	else if (!user)
		p You are currently not logged in. Please login or register... 



	if(user.isConnected)
		#root
			.row
				.col.s12
					h3 Upload group below...

					form.dropzone#my-dropzone(action="/file-upload", enctype="multipart/form-data")
					br
					.button-container
						button.btn.btn-default#upload-all Upload	



			//- button.btn.brand-button(type='button', data-toggle='modal', data-target='#charge-review-modal') Open Modal



		.modal.fade#charge-review-modal(tabindex="-1" role="dialog")
			.modal-dialog.modal-md
				.modal-content
					.modal-header
						h4 Review Charge Below...
					.modal-body
						ul.collection.charge-preview-list
						button.btn.btn-default#cancel-button(type='button') Cancel  	
						button.btn.brand-button#submitChargeButton(type='submit') Submit Charge  
							span.glyphicon.glyphicon-arrow-right(aria-hidden='true')

		.modal.fade#charge-review-modal-success(tabindex="-1" role="dialog")
			.modal-dialog.modal-md
				.modal-content
					.modal-header
						h4 Success! Review charge below...
					.modal-body
						button.btn.brand-button#submitChargeButton(type='button', data-toggle='modal', data-target='#charge-review-modal-success') Exit  

		#usergroup-container
		#charge-container								
		#pageNav
		#main-container

	else


script(id="initial-usergroupList" type="application/json").usergroupList