extends basic

block content

    h1 Welcome to Treasury! 
    p.lead Don't have an account? Register <a href='/register'>here</a>
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="email", placeholder='Enter Email')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Login
      a(href='/')
        button.btn.btn-primary(type="button") Cancel      
