doctype html
html
  head
    title Treasury
    
    //- link(rel='stylesheet', href='./css/build/combined.min.css')
    link(rel='stylesheet', href='./css/layout.css')
    //-link(rel='stylesheet', href='./css/build/layout.min.css')

    //- Google front end APIs
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')

    //- dropzone
    link(rel='stylesheet', href='./css/dropzone/dropzone.css')
    link(rel='stylesheet', href='./css/dropzone/customize.css')

    block scripts
      script(src='./bower_components/jquery/dist/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
      script(src='./bower_components/parsleyjs/dist/parsley.min.js')
      script.
        $(document).ready(function() {
          $('.modal-trigger').leanModal();
          $('.tooltipped').tooltip({delay: 10});
        })
       
  body
    nav
      .nav-wrapper
        a(href="#").brand-logo.left 
          #brand Treasury
        if(user)
          ul#nav-mobile.right
            li
              if (user.isConnected)
                a(href="#") Venmo Connected
                  i.material-icons.left.connected-icon done
              else
                a(href="/auth") Venmo Not Connected
                  i.material-icons.left.not-connected-icon clear
            li 
              a(href="#") Signed in as #{user.name} 
            li
              a(href='/logout') Log Out
        else
          ul#nav-mobile.right
            li
              a(href='/logout') Log Out
                         

    .container
      block content


    script(src="./scripts/dropzone/dropzone.js") 
    script(src="./scripts/FormValidate.js")
    script(src='./scripts/bundle.js')