doctype html
html
  head
    title Treasury
    link(rel='stylesheet', href='./bower_components/Materialize/dist/css/materialize.css')    
    link(rel='stylesheet', href='./css/build/combined.min.css')
    link(rel='stylesheet', href='./css/layout.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')


    //- drop
    link(rel='stylesheet', href='./css/dropzone/dropzone.css')
    link(rel='stylesheet', href='./css/dropzone/customize.css')



    block scripts
      script(src='./bower_components/jquery/dist/jquery.min.js')
      script(src='./bower_components/Materialize/dist/js/materialize.js')
      script.
        $(document).ready(function() {
          $('.modal-trigger').leanModal();
        })

      script(src="./scripts/dropzone/dropzone.js")
      script(src="./scripts/dropzone/customize.js")  

      //- this loads initial data from the server and react can use it
      script(id="initial-usergroupList" type="application/json").
        !{usergroupList}
      script(id="initial-chargeList" type="application/json").
        !{chargeList}        

  body
    nav
      .nav-wrapper
        a(href="#").brand-logo.left
          #brand Treasury
        if(user)
          ul#nav-mobile.right
            li
              if(user.isConnected)
                a(href="#") 
                  img(alt="Venmo Authenticated" src="./img/checkmark.png") 
                  span Venmo
              else
                a(href="/auth") 
                  img(alt="Venmo Not Authenticated" src="./img/x.svg") 
                  span Connect with Venmo
            li 
              a(href="#") Signed in as #{user.name} 
            li
              a(href='/logout') Log Out
        else
          ul#nav-mobile.right
            li
              a(href='/logout') Log Out
                         

    .container
      block content