.button-container {
	text-align: center
}

#example-spreadsheet-modal {
	max-height: 100%;
}

.connected-icon {
	color: green;
}

.not-connected-icon {
	color: red;
}

.warning-icon {
	color: #D07F35;
}

input[type=text] + label:after, input[type=password] + label:after, input[type=email] + label:after, input[type=url] + label:after, input[type=time] + label:after, input[type=date] + label:after, input[type=datetime-local] + label:after, input[type=tel] + label:after, input[type=number] + label:after, input[type=search] + label:after, textarea.materialize-textarea + label:after {
                width: 300px
}

#sign-up-modal {
	max-height: 100%
}